.button {
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background-color:#121012;
	-moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
	border:2px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#fafafa;
	font-family:Courier New;
	font-size:21px;
	font-weight:bold;
	padding:9px 26px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.button:hover {
	background-color:#261926;
}
.button:active {
	position:relative;
	top:1px;
}

.btnToTop {
	display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #000000; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

.btnToTop:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}