---
layout: default
---

<article class="page">

  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
    <form class="form-horizontal" method="get" name="textinput">
            <fieldset>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput"></label>
                    <div class="col-md-4">
                        <input id="diceroll_form" name="rollForm" type="text" placeholder="1d20" class="form-control input-md">
                        <input class="button" name="roll" value="Roll!" onclick="my_echo()"></button>
                    </div>
                </div>

            </fieldset>
        </form>

        <p id="diceroll_res"></p>
        <p id="diceroll_formula"></p>

        <script src="diceroll.js"></script>
  </div>
</article>